# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### **Objectives**:
* List of popular languages for Data Science
* List of commonly used libraries for Data Science
* Data Science Tools
* Basic Arithmetic

Some of the popular languages that Data Scientists are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. panda
2. mathlab
3. ggplot

# Data Science Tools
|Tool | Usage |
| --- | --- |
| git | a great tool for version control|
| jupyter | a Python notebook system |
| MySQL | an open-source SQL data management system|

Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
4 + 2

6

In [2]:
10*58-439

141

In [3]:
# This is a simple ariithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 50
200 / 60

3.3333333333333335

## Author Hlib Miasnychenko